body{
    margin: 0;
    padding: 0;
    font-family: JioType,helvetica,arial,sans-serif;
}
#nav_{
    /* border: 2px solid ; */
    height: 70px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #0F3CC9;
}

#jio_logo{
    /* margin-left: 10px; */
    /* border: 2px solid; */
    height: 60px;
    width: 130px;
}

#jio_logo img{
    margin-top: 10px;
    height: 40px;
    width: 70px;
}

#nav_links{
    /* border: 2px solid; */
    height: 60px;
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav_links a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
}

#nav_links a:hover{
    color: #D6CFCC;
}

#nav_search{
    /* border: 2px solid; */
    height: 60px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav_search:hover input{
    background-color:  #0A2885;
}

#nav_search input{
    margin-left: 25px;
    width: 290px;
    height: 30px;
    border-radius: 20px;
    background-color: #0A2885;
    border: none;
}

/* #nav_search input::selection{
    color: #061951;
} */

#nav_search input::placeholder{
    color: white;
    padding-left: 50px;
    font-size: 18px;
}

.fa-magnifying-glass{
    position: absolute;
    padding-right: 290px;
}

#nav_search div i{
    margin-left: 40px;
    width: 30px;
    position: relative;   
    margin-left: 7px; 
    padding-top: 13px; 
    color: #233CC9;
}

#nav_search div i:hover{
    color: #061951;
    cursor: pointer;
}

#img_cont{
    /* border: 2px solid ; */
    height: 420px;
    background-image: url(imnage_stack/jioimage.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#content_{
    margin-top: 20px;
    margin-left: 80px;
    /* border: 2px solid; */
    height: 320px;
    width: 400px;
}

.mn_cnt{
    /* border: 2px solid; */
    width: 300px;
    margin-top: 15px;
    font-weight: 900;
    font-size: 40px;
    color: white;
}

#content_ p{
    color: #D6CFCC;
    font-weight: bold;
    /* border: 2px solid; */
}

#img_btn_{
    width: 300px;
    margin-left: 80px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid; */
}

#f_btn button{
    font-weight: 900;
    margin-right: 30px;
    width: 130px;
    height: 50px;
    color: white;
    background-color: #0F3CC9;
    border: none;
    border-radius: 20px;
}

#f_btn button:hover{
    background-color: #839be2;
}

#s_btn button{
    font-weight: 900;
    width: 200px;
    height: 50px;
    border: 1px solid #D6CFCC;
    border-radius: 20px;
    color: white;
    background-color: #ffffff00;
}

#s_btn button:hover{
    border: 2px solid white;
}

#ln_cont{
    /* border: 2px solid; */
    height: 200px;
    display: flex;
    justify-content: space-around;
}

/* #ln_cont a:hover{
    background-color: #D6CFCC;
    border-radius: 20px;
} */

#ln_mn{
    /* border:  2px solid; */
    height: 140px;
    width: 700px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ln_main{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    /* border: 2px solid; */
    align-items: center;
    transition: all 0.01s ease-in-out 0.01s;
}

.ln_main:hover{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    background-color: #e7ebf8;
}

.icons_{
    margin-top: 5px;
    height: 65px;
    width: 65px;
    background-color: #e7ebf8;
    border-radius: 50%;
}

.icons_ i{
    width: 60px;
    height: 190px;
    position: relative;
    padding-top: 20px;
    /* padding-right: 400px; */
    padding-left: -14px;
    left: 2px;
    
    
}

.icons_cont{
    height: 30px;
    width: 85px;
    color: black;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 5px;
    /* text-align: center; */
    text-decoration: none;
    font-weight: 530;
    
}

.ln_main i{
    color: #0F3CC9;
    margin-top: 14px;
    text-align: center;
    font-size: 30px;
    /* border: 2px solid ; */
    align-items: center;
    height: 30px;
}

#jio_wall{
    border: 2px solid #D9008D;
    
    height: 600px;
    background-color: #D9008D;
}

#wall_logo{
    margin-left: 600px;
    margin-top: 60px;
    /* border: 2px solid; */
    height: 40px;
    width: 115px;
    border-radius: 40px;
    display: flex;
}

#wall_head{
    /* border: 2px solid gold; */
    height: 100px;
    width: 600px;
    margin-left: 400px;
}

#wall_head span{
    font-size: 60px;
    font-weight: 800;
    color: white;
    text-align: center;
}

#wall_main{
    margin-top: 70px;
    /* border: 2px solid gold; */
    height: 200px;
    display: flex;
}

.wal_cnt{
    margin-top: 0px;
    /* border: 2px solid gold; */
    height: 180px;
    width: 400px;
}

.wal_cnt span{
    font-size: 38px;
    color: white;
    font-weight: bold;
}

.wal_cnt input{
    margin-top: 10px;
    width: 270px;
    height: 40px;
    border-radius: 20px;
    border: none;
}

.wal_cnt input[placeholder]{
    padding-left: 20px;
    color: #ACACAC;
    font-size: 14px;
    font-weight: bold;
}

.wal_cnt input:hover{
    cursor: pointer;
}

.wal_cnt img{
    position: absolute;
    margin-top: 63px;
    margin-left: 50px;
}

#wl_sep{
    margin-top: 10px;
    /* border: 2px solid ; */
    height: 180px;
    width: 150px;
}

#walsep{
    border-right: 2px solid white;
    height: 100px;
    width: 75px;
    margin-top: 40px;
}

#wal_num{
    margin-top: 25px;
    /* border: 2px solid; */
    height: 80px;
    display: flex;
}

.cnt_num{
    /* border: 2px solid; */
    height: 80px;
    width: 200px;
}

#numb_{
    font-size: 68px;
}

.cnt_num span{
    font-size: 32px;
}

#ct_spn{
    font-size: 25px;
}

#jio_wall p{
    /* margin-bottom: 30px; */
    margin-left: 520px;
    /* border: 2px solid; */
    font-size: 14px;
    width: 300px;
    color: white;
}

#jio_wall button{
    margin-left: 600px;
    height: 45px;
    width: 120px;
    border: none;
    border-radius: 40px;
    background-color: #FF99DB;
    font-weight: bold;
    color: #62003F;
}

#jio_wall button:hover{
    cursor: pointer;
    background-color: #FFF7FC;
}

#head2_{
    margin-top: 20px;
    margin-left: 150px;
    /* border: 2px solid; */
    height: 100px;
    width: 1000px;
}

#head2_spn1{
    /* border: 2px solid; */
    margin-bottom: 40px;
    margin-left: 170px;
    font-size: 50px;
    font-weight: bold;
}

#head2_spn2{
    /* border: 2px solid; */
    color: #787878;
    font-size: 16px;
    padding-top: 50px;
    padding-left: 110px;
}

#card1_{
    margin-top: 15px;
    /* border: 2px solid; */
    height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mn_card1{
    /* border: 2px solid; */
    height: 400px;
    width: 350px;
}

.card1_img{
    /* border: 2px solid gold; */
    width: 350px;
    height: 200px;
}

.card1_img img{
    margin-left: 70px;
    width: 200px;
    height: 200px;
}

.card1_cnt{
    /* border: 2px solid #0A2885; */
    width: 350px;
    height: 200px;
    text-align: center;
}

.card_cnt{
    font-weight: bolder;
    font-size: 35px;
}

.card_cnt1{
    color: #787878;
}

.card_bn{
    margin-top: 30px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    width: 150px;
    background-color: #0F3CC9;
    color: white;
    border: none;
    border-radius: 30px;
}

.card_bn:hover{
    background-color: #0A2885;
    cursor: pointer;
}

#section7{
    margin-left: 300px;
    width: 700px;
    /* border: 2px solid; */
    height: 120px;
    text-align: center;
    
}

#section8{
    /* border: 2px solid; */
    /* height: 450px; */
    display: flex;
}

#section8_cnt{
    /* border: 2px solid; */
    height: 509px;
    width: 500px;
    background-color: #3B78AE;
}


video{
    height: 509px;
    width: 904px;
    /* background-position: 0%; */
}

#mn_cnt{
    margin-top: 48px;
    margin-left: 80px;
    /* border: 2px solid; */
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#sect8_lg{
    margin-right: 160px;
    /* border: 2px solid; */
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color: #406984;
    display: flex;
    align-items: center;
}

#sect8_lg img{
    height: 23px;
    width: 40px;
}

#sect8_cnt{
    /* border: 2px solid; */
    height: 240px;
    width: 290px;
}

#sect8_cnt button{
    height: 50px; 
    width: 120px; 
    border-radius: 30px;
    border: none;
    background-color: #89DCFE;
    color: #17364E;
    font-weight: bolder;
    font-size: 15px;
}

#sect8_cnt button:hover{
    background-color: white;
    cursor: pointer;
}

marquee{
    margin-top: 40px;
    /* display: flex; */
    /* flex-direction: column; */
}

marquee div{
    display: inline-block;
    /* border: 2px solid ; */
    height: 200px;
    width: 300px;
    overflow-wrap: break-word;
    overflow: auto;
    margin: 17px; 
    background-position: center;
    background-size: cover;   
    border-radius: 15px;
}

.par1{
    margin-top: 10px;
    margin-left: 10px;
    font-weight:bolder ;
    color: white;
}

marquee div h3{
    margin-left: 10px;
    line-height: 10px;
}

marquee div button{
    margin-left: 20px; 
    height: 30px; 
    width: 90px; 
    border-radius: 30px; 
    font-size: 14px; 
    font-weight: bold; 
    color: white; 
     
    border: none;
}

marquee div button:hover{
    cursor: pointer;
    border: 1px solid black;
}


#button5_{
    margin-top: 30px;
    margin-left: 650px;
    height: 40px;
    width: 130px;
    background-color: white;
    color: #0A2885;
    font-size: 13px;
    font-weight: bolder;
    border: 1px solid #ACACAC;
    border-radius: 30px;
}

#button5_:hover{
    border: 1px solid #0A2885;
    cursor: pointer;
}

#span1{
    /* border: 2px solid; */
    margin-left: 450px;
    font-size: 60px;
    font-weight: 900;
}

.span2{
    display: block;
    margin-top: 10px;
    /* border: 2px solid; */
    margin-left: 530px;
    color: #787878;
}

#sect9_{
    box-shadow: 0 6px 10px rgb(0 0 0 / 0.2);
    overflow: hidden;
    border-radius: 20px;
    height: 400px;
    width: 1100px;
    margin-left: 140px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#sect9_cont{
    margin-left: 20px;
    /* border: 2px solid; */
    height: 250px;
    width: 400px;
    margin-top: 80px;
}

#span3{
    font-size: 35px;
    font-weight: 900;
}

#span4{
    display: block;
    margin-top: 20px;
    font-size: 15px;
    color: #787878;
}

#button6_{
    margin-top: 30px;
    height: 50px;
    width: 120px;
    border-radius: 30px;
    background-color: #0F3CC9;
    color: white;
    border: none;
    font-weight: bold;
}

#button6_:hover{
    background-color: #0A2885;
    cursor: pointer;
}

#sect10_{
    margin-top: 50px;
    /* border: 2px solid; */
    width: 80%;
    margin-left: 150px;
    height: 400px;
    display: flex;
    justify-content: space-around;
}

.sec10_card{
    border-radius: 10px;
    overflow: hidden;
    /* border: 2px solid; */
    width: 330px;
    display: flex;
    flex-direction: column;
}

.card10_cnt{
    /* border-radius: 100px 100px 0 0; */
    height: 200px;
    width: 330px;
    background-color: #0F3CC9;
}

.span5{
    display: block;
    margin-top: 20px;
    margin-left: 5px;
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

.button7_{
    margin-top: 20px;
    height: 30px;
    border-radius: 30px;
    margin-left: 20px;
    background-color: #9EB5FA;
    color: #061951;
    border: none;
}

.button7_:hover{
    background-color: #BECEFB;
    cursor: pointer;
}

#para1{ 
    display: block;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 800;
    /* border: 2px solid; */
    width: 700px;
    margin-left: 360px;
    text-align: center;
}

#sect11_{
    /* border: 2px solid; */
    height: 400px;
    width: 1000px;
    margin: auto;

    margin-top: 60px;
    border-radius: 20px;
    overflow: hidden;
    background-image: url(imnage_stack/carrier-desktop.webp);
    background-position: center;
    background-repeat: no-repeat;
}

#span6_{
    display: block;
    /* border: 2px solid; */
    margin-top: 70px;
    margin-left: 20px;
    width: 500px;
    font-size: 50px;
    font-weight: 800;
    color: white;
}

#span7_{
    display: block;
    /* border: 2px solid; */
    width: 300px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #D5D8DF;
}

#button8_{
    margin-top: 30px;
    margin-left: 30px;
    width: 140px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: #0F3CC9;
    color: white;
    font-weight: bold;
}

#button8_:hover{
    cursor: pointer;
    background-color: #061951;
}

#sect12_{
    margin-top: 60px;
    border: 2px solid #F5F5F5;
    height: 600px;
    background-color: #F5F5F5;
}

#spn1_{
    display: block;
    margin-top: 50px;
    font-size: 60px;
    font-weight: 800;
    /* border: 2px solid; */
    width: 700px;
    margin-left: 360px;
    text-align: center;
}

#card5_{
    margin-left: 100px;
    width: 1200px;
    /* border: 2px solid; */
    height: 370px;
    display: flex;
    justify-content: space-around;
}

.card5_ct{
    box-shadow: 0px 3px 2px rgb(0 0 0 / 0.2);
    border-radius: 15px;
    /* border: 2px solid; */
    height: 320px;
    width: 340px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 450ms;
}

.card5_ct:hover{
    transform: scale(1.04);
    cursor: pointer;
}

.card5_cont{
    /* border: 2px solid gold; */
    width: 290px;
    height: 200px;
}

.para2{
    margin-left: 8px;
    font-weight: bold;
    /* border: 2px solid; */
    font-size: 16px;
}

.para3{
    margin-left: 8px;
    /* border: 2px solid; */
    font-weight: bold;
    color: #595959;
    margin-top: -13px;
    padding-bottom: 5px;
    font-size: 12px;
}

.btn1{
    margin-left: 20px;
    margin-top: 14px;
    color: #0F3CC9;
    background-color: #F5F5F5;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    height: 25px;
}

.btn1:hover{
    background-color: #E7EBF8;
    cursor: pointer;
}

.btn2{
    margin-top: -100px;
    margin-left: 650px;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #E1E1E1;
    color: #0F3CC9;
    font-weight: bolder;
    background-color: white;
}

.btn2:hover{
    border: 1px solid #0F3CC9;
    cursor: pointer;
}

#sect13_{
    /* border: 2px solid; */
    margin-top: 50px;
    height: 400px;
    width: 1067px;
    margin-left:150px;
    border-radius: 20px;
    background-image: url(imnage_stack/business-desktop.webp);
    display: flex;
}

#sec13_cnt{
    /* border: 2px solid; */
    height: 300px;
    width: 500px;
    margin-top: 50px;
    margin-left: 20px;
}

#spn2_{
    font-size: 60px;
    font-weight: 700;
    color: white;
}

#btn3{
    margin-top: 30px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: #0F3CC9;
    color: white;
    font-weight: bolder;
    width: 170px;
}

#btn3:hover{
    background-color: #587CEC;
    cursor: pointer;
}

#sect14_{
    background-color: #E8E8FC;
    margin-top: 50px;
    display: flex;
    height: 500px;
}

#sect14_cont{
    /* border: 2px solid; */
    height: 450px;
    margin: auto;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sec14_lg{
    /* border: 2px solid; */
    height: 30px;
    width: 90px;
    display: flex;
    align-items: center;
}

#sec14lg_cnt span{
    font-weight: 800;
    margin-left: 5px;
}

#sec14_lg+p{
    margin-top: 0px;
    /* border: 2px solid; */
    width: 400px;
    height: 140px;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
} 

#sec14_lg+p +p {
    /* border: 2px solid; */
    margin-top: -40px;
    color: #787878;
}

#sec14_lg+p+p +div{
    /* border: 2px solid; */
    border-radius: 30px;
    height: 200px;
    overflow: hidden;
}


#sec15_{
    /* border: 2px solid; */
    height: 250px;
    background-color: #0F3CC9;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#para4{
    margin-top: 50px;
    /* border: 2px solid; */
    width: 600px;
    height: 70px;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    /* margin-left: 350px; */
    color: white;
}

#para4 +p{
    margin-top: -40px;
    color: #CAD4F3;
}

#sec15_links{
    display: flex;
    height: 70px;
    width: 500px;
    justify-content: space-around;
    align-items: center;
}

.btn4{
    height: 40px;
    border-radius: 20px;
    border: 1px solid #5978DA;
    background-color: #0F3CC9;
    color: #BECEFB;
    font-weight: bold;
    padding-left: 24px;
}

.i1 i{
    position: absolute;
    margin-left: -26px;
    font-size: 20px;
    margin-top: -2px;
}

.i2 i{
    position: absolute;
    margin-left: -35px;
    font-size: 20px;
    margin-top: -2px;
}

.i3 i{
    position: absolute;
    margin-left: -26px;
    font-size: 18px;
    margin-top: -2px;
}

.i4 i{
    position: absolute;
    margin-left: -39px;
    font-size: 20px;
    margin-top: -2px;
}

.btn4:hover{
    border: 1px solid white;
    cursor: pointer;
}

footer{
    /* border: 2px solid; */
    height: 360px;
}

#fot_cnt{
    margin-top: 30px;
    height: 300px;
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    width: 1200px;
    margin-left: 70px;
}

#ft_main{
    margin-top: 40px;
    /* border: 2px solid; */
    height: 300px;
    width: 800px;
    display: flex;
    /* justify-content: space-around; */
}



.ft_links{
    /* border: 2px solid; */
    height: 290px;
    width: 150px;
}

.ft_links ol li{
    list-style: none;
    margin: 15px 0;
    padding-left: -10px;
    font-size: 13px;
    color: #A7A7A7;
    /* border: 2px solid; */
    height: 20px;
    padding-top: 3px;
    
}

.ft_links ol li:hover{
    background-color: #E0E0E0;
    cursor: pointer;
}

.ft_links span{
    padding-left: 38px;
    font-weight: 800;
    font-size: 15px;
}

.ft_main1{
    /* border: 2px solid; */
    height: 300px;
    width: 400px;
}

.spn3_{
    display: block;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 800;
}

#ft_icons{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 220px;
}
#ft_icons i{
    /* background-color: #0F3CC9; */
    font-size: 15px;
    border: 2px solid;
    height: 20px;
    width: 30px;
    text-align: center;
    color: white;
    background-color: #0F3CC9;
    padding-top: 6px;
    border-radius: 50%;
}

.spn3_ ~ img{
    margin-top: 20px;
    height: 35px;
    border-radius: 5px;
    margin-right: 10px;
}

#ft_last{
    /* border: 2px solid; */
    width: 1200px;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ft_last div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid; */
    font-size: 12px;
    color: #565656;
}

#last_div{
    width: 400px;
}

#ft_icons i:hover{
    background-color: #061951;
    cursor: pointer;
}